<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body style="display: none;">
    <div ruddy-app="example01">
        <div app-controller="ctrl01">
            <input type="text" value="Hello" app-model="name">
            <span app-view="html"><b>{{name}} {{sentence}}</b>!</span>
        </div>
        <div app-controller="ctrl02">
            <input type="text" value="Gil" app-model="greetings">
            <input type="text" value="Gil" app-model="name">
            <span app-view="html"><b>{{greetings}}</b> <b>{{name}}</b>!</span>
        </div>
    </div>

    <div ruddy-app="example02">
        <div app-controller="ctrl01">
            <input type="text" value="Greetings" app-model="greetings">
            <span app-view="html" app-repeat="names"><br>{{greetings}} <b>{{names}}</b>!</span>
            <span app-view="html" app-repeat="players->player">
                <br><br>
                <b>Name:</b> {{player.sname}},
                <br>
                <b>Age:</b> {{player.age}}
            </span>
        </div>

        <div app-component="alarm">Warning</div>
        <div app-component="alarm">Log Out</div>

        <div app-controller="ctrl02">
            <input type="text" value="Greetings" app-model="text">
            <input type="submit" app-model="button=[text]">
            <span app-view="html"><br>{{button.text}}</span>
        </div>

        <div app-controller="ctrl04">
            <input type="text" value="Greetings" app-model="text">
            <input type="submit" app-model="submitText">
            <span app-view="html"><br>{{submitText}}</span>
        </div>
    </div>
    <script src="../globals/core.js"></script>
    <script src="../globals/object.js"></script>
    <script src="../globals/function.js"></script>
    <script src="../globals/array.js"></script>
    <script src="../globals/string.js"></script>
    <script src="../globals/document.js"></script>
    <script src="../globals/nodes.js"></script>
    <script src="../globals/element.js"></script>
    <script src="../globals/style.js"></script>
    <script src="../ruddy.js"></script>
    <script src="../events/input.js"></script>
    <script src="../events/draggable.js"></script>
    <script src="../events/grabbable.js"></script>
    <script src="../events/droppable.js"></script>
    <script src="../ext/ajax.js"></script>
    <script src="../ext/animation.js"></script>
    <script src="../templating/config.js"></script>
    <script src="../templating/cache.js"></script>
    <script src="../templating/model.js"></script>
    <script src="../templating/app.js"></script>
    <script src="../templating/component.js"></script>
    <script src="../templating/templating.js"></script>
    <script>
        var html =
                '<div app-controller="hello2"> ' +
                '<input app-model="text" value="hello alarm" /> ' +
                '<div app-view="html"> {{text}}  {{this.inner}}</div> ' +
                '<div>';

        var component = new Ruddy.component('alarm', html);

        component.controller('hello2', function(models) {
            console.log(models.text.value());
        });
    </script>
    <script>
        Ruddy.cacheTemplate(Ruddy);

        var app = new Ruddy.app('example01');
        var app2 = new Ruddy.app('example02');

        app.controller('ctrl01', function (models) {
            var name = models.name, sentence = this.model('sentence', 'For Ever!');

            name.value('Maria');
            name.callback(function (target) {
                return 'I Love ' + target.value + ' <3';
            });
        });

        app.controller('ctrl02', function (models) {
            var greetings = models.greetings;

            greetings.value('Hello');
        });

        app2.controller('ctrl01', function () {
            this.model('names', ['Gil', 'Maria', 'Roni', 'Jon', 'Nick'])
            this.model('players', [{name: 'Maria', age: 19}, {name: 'Gil', age: 19}]);
        });

        app2.controller('ctrl04', function (models) {
            var text = models.text;
            models.submitText.callback(function() {
                return text.value();
            });
        });

        Ruddy.templating();
        document.body.style.display = 'block';
    </script>
</body>
</html>